
language: csharp
solution: api-client-shared.sln
mono: none
sudo: required
# group: deprecated-2017Q4
dotnet: 2.0.0
before_install: 
  - chmod -R +x deploy #make alle scripts executable
  - ./deploy/apt-get-add-keys-and-update.sh
  - sudo ./deploy/apt-get-add-keys-and-update.sh
  - sudo apt-get install mono-complete
  
  #- curl https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor > microsoft.gpg
  #- sudo mv microsoft.gpg /etc/apt/trusted.gpg.d/microsoft.gpg
  #- sudo sh -c 'echo "deb [arch=amd64] https://packages.microsoft.com/repos/microsoft-ubuntu-trusty-prod trusty main" > /etc/apt/sources.list.d/dotnetdev.list'
 
  - wget https://dist.nuget.org/win-x86-commandline/latest/nuget.exe  

  - sudo apt-get install tree
install:
  - dotnet restore  
script:
  - set -e #Makes sure we get a fail fast if some of the scripts fails
  - mono ./Zero29.1.0.0/tools/Zero29.exe -i revision
  - tree
  - dotnet build -c Release
  - dotnet test Digipost.Api.Client.Shared.Tests/Digipost.Api.Client.Shared.Tests.csproj
  - mono nuget.exe pack api-client-shared.nuspec -Verbosity detailed
  - deploy/nuspec-version-patcher.sh
  - ls -la
  - mono nuget.exe push ./api-client-shared.4.0.1-netstandardbeta.nupkg -Verbosity detailed -ApiKey $NUGET_API_KEY -Source $NUGET_SOURCE
deploy:
  skip_cleanup: true
  provider: script
  script: mono nuget.exe pack api-client-shared.nuspec -Verbosity detailed
  on:
    branch: project-rider-test-netstandard

## TODO
# 1. Make sure deploy is only run for master and beta branch
# 2. Do not deploy if tests fail
