
language: csharp
solution: api-client-shared.sln
mono: none
sudo: required
group: deprecated-2017Q4
dotnet: 2.0.0
addons:
  apt:
    sources:
      - sourceline: deb http://download.mono-project.com/repo/debian trusty/snapshots/5.2.0.224 main
        key_url: http://keyserver.ubuntu.com/pks/lookup?op=get&search=0xA6A19B38D3D831EF
      - sourceline: deb [arch=amd64] https://packages.microsoft.com/repos/microsoft-ubuntu-trusty-prod trusty main
        key_url: https://packages.microsoft.com/keys/microsoft.asc
      - packages:
    packages:
      - mono-complete
      - ca-certificates-mono
before_install: 
  - chmod -R +x deploy #make alle scripts executable
  #- ./deploy/apt-get-add-keys-and-update.sh
  #- sudo ./deploy/apt-get-add-keys-and-update.sh
  #- sudo apt-get install mono-complete
  - sudo ./deploy/nuget-install.sh
  - sudo apt-get install tree
install:
  - dotnet restore  
script:
  - set -e #Makes sure we get a fail fast if some of the scripts fails
  - mono ./Zero29.1.0.0/tools/Zero29.exe -i revision
  - tree
  - dotnet build -c Release
  - dotnet test Digipost.Api.Client.Shared.Tests/Digipost.Api.Client.Shared.Tests.csproj
  - mono nuget.exe pack api-client-shared.nuspec -Verbosity detailed
  - deploy/nuspec-version-patcher.sh
  - ls -la
  - mono nuget.exe push ./api-client-shared.4.0.1-netstandardbeta.nupkg -Verbosity detailed -ApiKey $NUGET_API_KEY -Source $NUGET_SOURCE
deploy:
  skip_cleanup: true
  provider: script
  script: mono nuget.exe pack api-client-shared.nuspec -Verbosity detailed
  on:
    branch: project-rider-test-netstandard

## TODO
# 1. Make sure deploy is only run for master and beta branch
# 2. Do not deploy if tests fail
