sudo: required
language: csharp
solution: api-client-shared.sln
mono: none
dotnet: 2.0.0
before_install: 
  - ./deploy/apt-get-add-keys-and-update.sh
  - ./deploy/mono-install.sh
  - ./deploy/nuget-install.sh
  - sudo apt-get install tree
  - tree
  - ./deploy/version-patcher-install.sh
  - tree
  - ./deploy/nuspec-version-patcher.sh
install:
  - dotnet restore
