dist: trusty
sudo: required
language: csharp
solution: api-client-shared.sln
mono: none
dotnet: 2.0.0
before_install:
  - sudo apt-get mono
  - sudo apt-get nuget
install:
  - dotnet restore  
script:
  - dotnet build -c Release
  - dotnet test api-client-shared-tests/api-client-shared-tests.csproj
  - nuget pack ./api-client-shared/api-client-shared.nuspec -Verbosity detailed
#deploy:
#  skip_cleanup: true
#  provider: script
#  script:
#    - nuget pack ./api-client-shared/api-client-shared.nuspec -Verbosity detailed
#  on:
#    branch: project-rider-test-netstandard
