language: csharp
solution: api-client-shared.sln
mono: none
dotnet: 2.0.0
before_install: 
  - ./deploy/apt-get-add-keys-and-update.sh
  - sudo apt-get install mono-complete
  - deploy/nuget-install.sh
  - sudo apt-get install tree
install:
  - dotnet restore  
script:
  - set -e #Makes sure we get a fail fast if some of the scripts fails
  - mono ./Zero29.1.0.0/tools/Zero29.exe -i revision
  - tree
  - dotnet build -c Release
  - dotnet test Digipost.Api.Client.Shared.Tests/Digipost.Api.Client.Shared.Tests.csproj
  - mono nuget.exe pack api-client-shared.nuspec -Verbosity detailed
  - deploy/nuspec-version-patcher.sh
  - ls -la
  - mono nuget.exe push ./api-client-shared.4.0.1-netstandardbeta.nupkg -Verbosity detailed -ApiKey $NUGET_API_KEY -Source $NUGET_SOURCE
deploy:
  skip_cleanup: true
  provider: script
  script: mono nuget.exe pack api-client-shared.nuspec -Verbosity detailed
  on:
    branch: project-rider-test-netstandard

## TODO
# 1. Make sure deploy is only run for master and beta branch
# 2. Do not deploy if tests fail