language: csharp
solution: api-client-shared.sln
mono: none
dotnet: 2.0.0
before_install:
  - sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
  - echo "deb http://download.mono-project.com/repo/ubuntu trusty main" | sudo tee /etc/apt/sources.list.d/mono-official.list
  - sudo apt-get update
  - sudo apt-get install mono-complete
  - wget https://dist.nuget.org/win-x86-commandline/latest/nuget.exe
install:
  #- dotnet restore  
script:
  - mono nuget.exe restore api-client-shared.sln
  - msbuild
  #- dotnet build -c Release
  - mono nuget.exe pack api-client-shared.nuspec -Verbosity detailed
  #- dotnet test api-client-shared-tests/api-client-shared-tests.csproj
  - mono nuget.exe push ./api-client-shared.4.0.1-netstandardbeta.nupkg -Verbosity detailed -ApiKey $NUGET_API_KEY -Source $NUGET_SOURCE
# deploy:
#   skip_cleanup: true
#   provider: script
#   script:

#   on:
#     branch: project-rider-test-netstandard

## TODO
# 1. Make sure deploy is only run for master and beta branch
# 2. Do not deploy if tests fail