language: csharp
solution: api-client-shared.sln
mono: none
dotnet: 2.0.0
install:
  - dotnet restore
  - nuget restore api-client-shared.sln  
script:
  - dotnet build -c Release
  - dotnet test api-client-shared-tests/api-client-shared-tests.csproj
deploy:
  skip_cleanup: true
  provider: script
  script: 
    - dotnet restore
    - chmod +x ./deploy/deploy.sh && ./deploy/deploy.sh $NUGET_API_KEY $NUGET_SOURCE
  on:
    branch: project-rider-test-netstandard
