sudo: required
dist: trusty  
solution: api-client-shared.sln
language: csharp
mono: none
dotnet: 2.0.0
install:
  - dotnet restore  
script:
 - dotnet build -c Release
 - dotnet test api-client-shared-tests/api-client-shared-tests.csproj
