sudo: required
language: csharp
solution: api-client-shared.sln
mono: none
dotnet: 2.0.0
before_install: 
  - ./deploy/apt-get-add-keys-and-update.sh
  - ./deploy/mono-install.sh
  - ./deploy/version-manager-install.sh